In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.metrics import r2_score

In [4]:
def read_mss_results(mss):
    r_file = f"../results/tclr_model_testing/all/TD4_MSS{mss:0.2f}_RT_MS_exhaustive/results.pickle"
    with open(r_file, "rb") as f:
        results = pickle.load(f)
    return results

In [5]:
def combine_groups(results):
    g = results["groups"]
    df = results["train_data"]
    df["group"] = g
    return df

In [71]:
mss = 0.02
results = read_mss_results(mss)
df = combine_groups(results)

In [9]:
def plot_node_pcts(df):
    counts = df["group"].value_counts().sort_index() / df.shape[0]
    fig, ax = plt.subplots(1, 1, figsize=(19,10))
    counts.plot.bar(ax=ax)
    plt.show()

In [ ]:
plot_node_pcts(df)

In [12]:
def find_single_res_bins(df):
    site_groups = df.groupby("site_name")["group"].value_counts().unstack()
    single_res_bins = site_groups.loc[:,site_groups.count(axis=0) == 1]
    return single_res_bins.dropna(axis=0, how="all")

In [13]:
def find_single_bin_res(df):
    site_groups = df.groupby("site_name")["group"].value_counts().unstack()
    single_bin_res = site_groups.loc[site_groups.count(axis=1) == 1, :]
    return single_bin_res.dropna(axis=1, how="all")

In [56]:
single_bin_res = find_single_bin_res(df)
single_res_bin = find_single_res_bins(df)

In [57]:
single_bin_res

group              1
site_name
Apalachia     7360.0
BON           3298.0
CHJ           2483.0
Chikamauga    7360.0
FtLoudoun     7360.0
FtPatrick     7360.0
GRAR          9048.0
Guntersville  7360.0
IHR           3016.0
KORR          9048.0
LWG           3150.0
MeltonH       7360.0
Nikajack      7360.0
Ocoee3        7360.0
PRD           4232.0
Pickwick      7360.0
RIS           2136.0
RRH           3052.0
WAN           2922.0
WEL           3160.0
WattsBar      7360.0
Wheeler       7360.0
Wilbur        7360.0
Wilson        7360.0

In [68]:
single_res = ["GRAR", "Ocoee3", "Parker", "WAN"]

In [72]:
idx = pd.IndexSlice
results["simmed_data"].loc[idx[single_res, :]].groupby("site_name").apply(lambda x: r2_score(x["actual"], x["model"]))

site_name
GRAR      0.992589
Ocoee3    0.879590
Parker   -0.008259
WAN       0.953208
dtype: float64