In [1]:
import geopandas as pd
import pandas as pd

In [4]:
df = pd.read_csv("../geo_data/my_res_nid_combo.csv", index_col=0)

In [6]:
df = df.set_index("site_name")
rbasins = pd.read_pickle("../pickles/res_basin_map.pickle")
rbasins = rbasins.replace({"upper_col": "colorado", "lower_col": "colorado"})
df["basin"] = rbasins

In [8]:
df.columns

Index(['site_name_act', 'rts', 'rel_inf_corr', 'max_sto', 'group', 'lat',
       'long', 'geometry', 'dist', 'nid_idx', 'Dam_Name', 'Other_Dam_Name',
       'State_ID', 'NID_ID', 'Num_Separate_Struct', 'Other_Structure_ID',
       'Longitude', 'Latitude', 'Section', 'County', 'River', 'Owner_Name',
       'Owner_Type', 'Private_Dam', 'Dam_Designer', 'Dam_Type', 'Core',
       'Foundation', 'Primary_Purpose', 'All_Purposes', 'Year_Completed',
       'Year_Modified', 'Dam_Length', 'Dam_Height', 'Structural_Height',
       'Hydraulic_Height', 'NID_Height', 'Max_Discharge', 'Max_Storage',
       'Normal_Storage', 'NID_Storage', 'Surface_Area', 'Drainage_Area', 'EAP',
       'Inspection_Date', 'Inspection_Frequency', 'Spillway_Type',
       'Spillway_Width', 'Outlet_Gates', 'Volume', 'Num_Locks', 'Length_Locks',
       'Width_Locks', 'Permitting_Authority', 'Inspection_Authority',
       'Enforcement_Authority', 'Jurisdictional_Dam', 'State_Reg_Dam',
       'State_Reg_Agency', 'Fed_Funding', 'Fed_Design', 'Fed_Construction',
       'Fed_Regulatory', 'Fed_Inspection', 'Fed_Operation', 'Fed_Owner',
       'Fed_Other', 'Source_Agency', 'State', 'Submit_Date', 'Url_Address',
       'Congress_Rep', 'Political_Party', 'Congress_District', 'basin'],
      dtype='object')

In [10]:
max_stos = df.groupby("basin")[["max_sto", "Max_Storage"]].sum()
max_stos["Max_Storage"] /= 1000
max_stos

               max_sto  Max_Storage
basin
colorado  66199.662824    71504.678
missouri  82996.003710    80868.997
pnw        9225.140000    14170.000
tva       23720.221488    20277.961

In [14]:
pnw = df[df["basin"] == "pnw"][["site_name_act", "Max_Storage"]]
pnw["Max_Storage"] /= 1000 * 1000
pnw

           site_name_act  Max_Storage
site_name
BON           Bonneville        0.537
BRN             Brownlee        1.470
CHJ         Chief Joseph        0.593
GCL         Grand Coulee        9.562
IHR           Ice Harbor          NaN
LWG        Lower Granite          NaN
PRD        Priest Rapids        0.191
RIS          Rock Island        0.131
RRH          Rocky Reach        0.390
WAN              Wanapum        0.796
WEL                Wells        0.500